USE [master]
GO
/****** Object:  Database [CPKUO]    Script Date: 04.03.2023 14:06:06 ******/
CREATE DATABASE [CPKUO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CPKUO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CPKUO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CPKUO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CPKUO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CPKUO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CPKUO]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 04.03.2023 14:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[IDClient] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[Patronimic] [nvarchar](max) NULL,
	[CodeClient] [nvarchar](50) NOT NULL,
	[PassportClient] [nvarchar](max) NULL,
	[BirthDate] [nvarchar](max) NULL,
	[Adress] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
	[PasswordClient] [nvarchar](max) NULL,
 CONSTRAINT [PK__Client__87A2B3CA1188F2AF] PRIMARY KEY CLUSTERED 
(
	[CodeClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordera]    Script Date: 04.03.2023 14:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordera](
	[IDOrder] [nvarchar](50) NOT NULL,
	[DateNew] [nvarchar](max) NULL,
	[TimeOrder] [nvarchar](max) NULL,
	[CodeClient] [nvarchar](50) NULL,
	[IDService] [nvarchar](50) NULL,
	[StatusOrder] [nvarchar](max) NULL,
	[DateReady] [nvarchar](max) NULL,
	[TimeProcat] [nvarchar](max) NULL,
 CONSTRAINT [PK__Ordera__5CBBCADB6B4B1DBD] PRIMARY KEY CLUSTERED 
(
	[IDOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 04.03.2023 14:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[IDPost] [nvarchar](10) NOT NULL,
	[NamePost] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 04.03.2023 14:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[IDService] [nvarchar](50) NOT NULL,
	[NameService] [nvarchar](max) NULL,
	[CodeService] [nvarchar](max) NULL,
	[Price] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service1]    Script Date: 04.03.2023 14:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service1](
	[column1] [smallint] NOT NULL,
	[column2] [nvarchar](50) NULL,
	[column3] [nvarchar](50) NULL,
	[column4] [smallint] NULL,
 CONSTRAINT [PK_service1] PRIMARY KEY CLUSTERED 
(
	[column1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Worker]    Script Date: 04.03.2023 14:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[IDWorker] [nvarchar](50) NOT NULL,
	[IDPost] [nvarchar](10) NOT NULL,
	[LastName] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[Patroimic] [nvarchar](max) NULL,
	[LoginWorker] [nvarchar](max) NULL,
	[PasswordWorker] [nvarchar](max) NULL,
	[PastVhod] [nvarchar](max) NULL,
	[TypeVhod] [nvarchar](max) NULL,
 CONSTRAINT [PK__Worker__3B0FFE7112A8B9F4] PRIMARY KEY CLUSTERED 
(
	[IDWorker] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ordera]  WITH CHECK ADD  CONSTRAINT [FK__Ordera__CodeClie__412EB0B6] FOREIGN KEY([CodeClient])
REFERENCES [dbo].[Client] ([CodeClient])
GO
ALTER TABLE [dbo].[Ordera] CHECK CONSTRAINT [FK__Ordera__CodeClie__412EB0B6]
GO
ALTER TABLE [dbo].[Ordera]  WITH CHECK ADD  CONSTRAINT [FK__Ordera__IDServic__403A8C7D] FOREIGN KEY([IDService])
REFERENCES [dbo].[Service] ([IDService])
GO
ALTER TABLE [dbo].[Ordera] CHECK CONSTRAINT [FK__Ordera__IDServic__403A8C7D]
GO
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD  CONSTRAINT [FK__Worker__IDPost__3D5E1FD2] FOREIGN KEY([IDPost])
REFERENCES [dbo].[Post] ([IDPost])
GO
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK__Worker__IDPost__3D5E1FD2]
GO
USE [master]
GO
